@import '~@angular/material/theming';

section.day {
  display: flex;
  flex-direction: column;

  width: 100%;
  border-bottom: 0.063rem solid rgba(255, 255, 255, 0.1);
  padding: 1rem;
}
h2 {
  font-weight: 400;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 1rem;
}

.team {
  display: flex;
  align-items: center;

  width: 5rem;
  margin-right: 1rem;
  .team-logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
  span {
    display: flex;
    font-weight: 600;
  }
}

.mini-score {
  display: flex;
  flex-direction: column;

  @include mat-elevation(2);
  margin: 0 1rem 1rem;
  background: rgba(255, 255, 255, 0.01);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
  &:hover {
    @include mat-elevation(8);
    background: rgba(255, 255, 255, 0.035);
  }

  header {
    display: flex;
    justify-content: space-between;

    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid rgba(#000, 0.14);
    background: rgba(255, 255, 255, 0.05);
  }
}

div.quarter {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  width: 2.5rem;
  color: rgba(255, 255, 255, 0.25);
  font-weight: 500;
  &.active {
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.5);
  }
  &.winner {
    color: #388e3c;
  }
  &.loser {
    color: #ef5350;
  }
}

.score-key {
  display: flex;

  padding: 0 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  .quarter,
  .team {
    font-size: 0.8rem;
    justify-content: center;
  }
}

.score-line {
  display: flex;

  width: 100%;
  padding: 0 0.5rem;

  &:last-child {
    padding: 0 0.5rem;
    border-top: 1px solid rgba(#fff, 0.1);
  }
}
.scores {
  display: flex;
  flex-direction: row;
}
