<!-- day component -->
<!--mini-score -->
<section class="day">
  <h2>Monday Oct. 18th</h2>
  <section class="scores">
    <div class="mini-score">
      <header class="">
        <span class="broadcaster">
          ESPN
        </span>
        <span class="start-time">
          7:30 PM EST
        </span>
      </header>
      <section class="score-key">
        <div class="team">
          Team
        </div>
        <div class="quarter">Q1</div>
        <div class="quarter">Q2</div>
        <div class="quarter">Q3</div>
        <div class="quarter">Q4</div>
        <div class="quarter active">F</div>
      </section>
      <section class="score-line">
        <div class="team">
          <img src="/assets/logos/nba/teams/CLE.svg" alt="Cleveland Cavaliers" class="team-logo">
          <span>CLE</span>
        </div>
        <div class="quarter">22</div>
        <div class="quarter">33</div>
        <div class="quarter">24</div>
        <div class="quarter">28</div>
        <div class="quarter active loser">107</div>
      </section>
      <section class="score-line">
        <div class="team">
          <img src="/assets/logos/nba/teams/TOR.svg" alt="Toronto Raptors" class="team-logo">
          <span>TOR</span>
        </div>
        <div class="quarter">24</div>
        <div class="quarter">40</div>
        <div class="quarter">22</div>
        <div class="quarter">31</div>
        <div class="quarter active winner">117</div>
      </section>
    </div>
    <div class="mini-score mat-elevation-z4">
      <header class="">
        <span class="broadcaster">
          ESPN
        </span>
        <span class="start-time">
          7:30 PM EST
        </span>
      </header>
      <section class="score-key">
        <div class="team">
          Team
        </div>
        <div class="quarter">Q1</div>
        <div class="quarter active">Q2</div>
        <div class="quarter">Q3</div>
        <div class="quarter">Q4</div>
        <div class="quarter">T</div>
      </section>
      <section class="score-line">
        <div class="team">
          <img src="/assets/logos/nba/teams/LAL.svg" alt="Cleveland Cavaliers" class="team-logo">
          <span>LAL</span>
        </div>
        <div class="quarter">22</div>
        <div class="quarter active">2</div>
        <div class="quarter">-</div>
        <div class="quarter">-</div>
        <div class="quarter">22</div>
      </section>
      <section class="score-line">
        <div class="team">
          <img src="/assets/logos/nba/teams/POR.svg" alt="Toronto Raptors" class="team-logo">
          <span>POR</span>
        </div>
        <div class="quarter">24</div>
        <div class="quarter active">4</div>
        <div class="quarter">-</div>
        <div class="quarter">-</div>
        <div class="quarter">24</div>
      </section>
    </div>
  </section>
</section>
<!-- /mini-score -->
