footer {
  display: flex;
  justify-content: space-between;

  font-size: 0.75rem;
  border-top: 1px solid rgba(#000, 0.14);
  background: rgba(255, 255, 255, 0.05);
}
span {
  padding: 0.25rem 0.5rem;
  &.playoffs {
    display: flex;
    min-width: 6rem;
    padding: 0.25rem 0.5rem;
    background: rgba(0, 0, 0, 0.15);
    position: relative;
    text-align: right;
    &:before {
      position: absolute;
      right: -1.375rem;
      top: 0;
      content: '';
      border-bottom: 22px solid rgba(0, 0, 0, 0.15);
      border-right: 22px solid transparent;
    }
  }
}
