:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(#000, 0.9);
  z-index: 2;
  width: 100vw;
  height: 100vh;
  bottom: 0;
}
mat-progress-spinner {
  position: absolute;
  top: 30%;
  left: calc(50vw - 70px);
}
