// Import theming functions
@import '~@angular/material/theming';
@import './shared/theme';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  background-color: #212121;
}
.logo {
  font-size: 1.75rem;
  font-family: 'K2D', sans-serif;
  color: #fff;
  margin-bottom: 0.45rem;
}
mat-toolbar {
  .mat-sidenav & {
    padding-left: 0;
  }
  .logo {
    cursor: pointer;
    &.active .nba-icon {
      transform: translate3d(0, 0, 0);
      animation-name: dribble;
      animation-delay: 0s;
      animation-duration: 0.2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-out;
      animation-play-state: running;
      animation-fill-mode: none;
      animation-play-state: running;
    }
    .nba-icon {
      margin-left: 0.1rem;
      width: 20px;
      height: 20px;
    }
  }
}

@keyframes dribble {
  100% {
    transform: translate3d(0, -8px, 0);
  }
}
