// Import theming functions

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 220px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  background-color: #212121;
  z-index: 3;
  .day-theme & {
    background-color: #fff;
  }
}
.logo {
  font-size: 1.75rem;
  font-family: 'K2D', sans-serif;
  color: #fff;
  margin-bottom: 0.45rem;
  .day-theme & {
    color: #212121;
  }
}
mat-toolbar {
  .mat-sidenav & {
    padding-left: 0;
  }
  .logo {
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &.active .nba-icon {
      transform: translate3d(0, 0, 0);
      animation-name: dribble;
      animation-delay: 0s;
      animation-duration: 0.2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-out;
      animation-play-state: running;
      animation-fill-mode: none;
      animation-play-state: running;
    }
    .nba-icon {
      width: 1.75rem;
      height: 1.6rem;
      vertical-align: bottom;
      margin-left: -0.15rem;
      margin-bottom: 0.2rem;
    }
  }
}
.app-container {
  min-height: 100vh;
}
@keyframes dribble {
  100% {
    transform: translate3d(0, -8px, 0);
  }
}

.spacer {
  flex: 1 1 auto;
}
