.score-key {
  display: flex;

  padding: 0 0 0 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  .quarter,
  .team {
    font-size: 0.8rem;
    justify-content: center;
  }
}
