.score-key {
  display: flex;
  background: rgba(0, 0, 0, 0.05);
  padding: 0 0 0 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  .quarter,
  .team {
    font-size: 0.8rem;
    justify-content: center;
  }
}

.day-theme .quarter.active {
  background-color: rgba(0, 0, 0, 0.06) !important;
}
